<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.CommentMapper">
    <insert id="register" parameterType="com.example.dto.CommentDto">
        insert into comment (postId, contents, subCommentId)
        values (#{postId}, #{contents}, #{subCommentId})
    </insert>

    <update id="updateComments" parameterType="com.example.dto.CommentDto">
        update comment
        set contents = #{contents},
            subCommentId = #{subCommentId}
        where id = #{id}
    </update>

    <delete id="deletePostComment">
        delete
        from comment
        where id = #{commentId}
    </delete>
</mapper>
