<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.UserProfileMapper">
    <select id="getUserProfile" resultType="com.example.dto.UserDTO">
        select userId,
               password,
               nickname,
               createTime,
               isWithDraw,
               status
        from users
        where userId = #{id}
    </select>

    <insert id="insertUserProfile" parameterType="com.example.dto.UserDTO">
        insert into users (userId, password, nickName, isWithDraw, status, isAdmin)
        values (#{userId}, #{password}, #{nickName}, #{isWithDraw}, #{status}, #{isAdmin})
    </insert>

    <update id="updateUserProfile" parameterType="com.example.dto.UserDTO">
        update users
        set password = #{password},
            nickName = #{nickName},
            isWithDraw = #{isWithDraw},
            status = #{status}
        where id = #{id}
    </update>

    <delete id="deleteUserProfile">
        delete
        from users
        where userId = #{id}
    </delete>

    <select id="findByIdAndPassword" resultType="com.example.dto.UserDTO">
        select id,
               userId,
               password,
               nickName,
               createTime,
               isWithDraw,
               status
        from users
        where userId = #{id}
        and password = #{password}
        and status != 'DELETE'
    </select>

    <select id="idCheck" resultType="int">
        select count(id)
        from users
        where userId = #{userId}
    </select>

    <update id="updatePassword" parameterType="com.example.dto.UserDTO">
        update users
        set password = #{password}
        where userId = #{userId};
    </update>

    <update id="updateAddress" parameterType="com.example.dto.UserDTO">
        update users
        set address = #{address}
        where userId = #{userId};
    </update>

    <insert id="register" parameterType="com.example.dto.UserDTO">
        insert into users (userId, password, nickName, isWithDraw, status)
        values (#{userId}, #{password}, #{nickName}, #{isWithDraw}, #{status})
    </insert>
</mapper>
