<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "~//mybatis.org/DTO Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUserScoreToCamelCase" value="true"/>
        <setting name="callSetterOnNulls" value="true"/>
    </settings>
</configuration>
